@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap');
@font-face{/*Basic Latin*/
	font-family:'Ensign:Serif';
	font-style:Normal;
	font-weight:400;
	unicode-range:u+9-a,u+d,u+20-7e;
	src:url('https://classicmc-studios.github.io/mormon/40k00-B7GlI3T4.woff2') format('woff2');
}
.EnsignSerif
{
	font-family:'Ensign:Serif',serif;
	font-weight: 400;
	font-size: 1em;
}
*{
  margin:0;
  padding:0;
  font-family: "Ensign:Serif";
  font-weight:300;
  line-height: 1.6;
  color:#e0e0e0;

}

body{
  position:absolute;
  width:100%;
  height:100%;
  background-color: #121212;
}
.â‹{
  font-size:35px;
  font-weight:400;
}
.mm{
  margin-bottom: 10px;
}
.container{
  display:grid;
  position:relative;
  grid-template-columns:100px calc(100% - 100px);
  height: 100%;
}
.fixed{
  position:fixed;
  width:100px;
}
.bar{
  position:relative;
  overflow-y:hidden;
  padding-top:10px;
  text-align:center;
}
.maya{
  background-color: #252525;
  font-weight:100;
  border: 1px solid #3d3d3d;
  border-radius:100px;
  position:relative;
  padding:5px;
}
mark{
  border-radius:2px;
  padding:2px;
  background-color: rgba(91, 197, 219, 0.282);
  color:white;
}
.hv{
  padding:5px;
  font-family: sans-serif;

}
.maya:hover > .hv{
  background-color: #3d3d3d;
  border-radius:100px;
}
.body{
  padding: 19px;
}
button:not(.maya){
  border: none;
  background-color: rgba(0,0,0,0);
  color:#e0e0e0;
  font-size: 16px;
}
hr{
  margin:10px;
  border-color: gray;
}
.lay{
  margin:5px;
  padding:5px;
  border:1px solid gray;
}
h1{
  font-weight:100;
}
h3{
  font-size:28px;
  font-weight:900;
}
sup b{
  color:grey;
}